<div class="container">
  <div class="container-header">
    <h2 class="header-class">ADD/UPDATE PERSONAL</h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="content">
        <app-inputs></app-inputs>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="content">
        <app-lists></app-lists>
      </div>
    </div>
  </div>
  <div class="message">
    <div class="alert alert-{{ alertType }}" role="alert" *ngIf="alertVisibility">
      {{ alertMessage }}
    </div>
  </div>
</div>