.container{
    max-height: 300px;
    padding-top: 10px;
}

.content{
    margin-top: 20px;
    max-height: 300px;
    overflow:auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.items{
    background-color: #C9C9C9;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.item{
    margin-left: 20px;
    margin-bottom: 10px;
}

.operations{
    float: right;
}

.operation{
    margin-right: 10px;
    color:black;
    cursor: pointer;
}